.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.card {
  display: grid;
  grid-template-rows: 2fr 2fr 0.3fr;
  border: 1px dashed black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

img {
  width: 100%;

}

h2 {
  font-family: "Monserrat", sans-serif;
  font-size: 32px;
}

p {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.star-rating {
  overflow: hidden;
  width: 210px;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: gold;
}

.off {
  color: #cccccc;
}
