.App {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(3, 680px);
  grid-gap: 5px;

  }

.card {
  display: grid;
  grid-template-rows: 2fr 1.6fr 0.3fr;
  border: 1px dashed black;
  border-radius: 10px;
  width: 340px;
  height: 650px;
  margin: 10px;
  padding: 5px;
}

img {
  width: 100%;

}

h2 {
  font-family: "Monserrat", sans-serif;
  font-size: 30px;
}

p {
  font-family: "Monserrat", sans-serif;
  font-size: 16px;
}

.star-rating {
  overflow: hidden;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: gold;
}

.off {
  color: #cccccc;
}
