
.base_box {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.aside_left {
    width: 15vw;
    border: 1px solid blue;

}
.logo {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.underline{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 50px);

    font-family: "Open Sans";
    font-size: 24px;
}
.menu div {
    margin: 10px;
}
.content {
    width: 60vw;

    background: #F2F2F2;

    font-family: "Open Sans";

}
.aside_right {
    width: 25vw;
}
.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background: #F2F2F2;
    border-radius: 5px;
    margin: 6% 8% 12% 4%;

    font-family: "Open Sans";
    font-size: 24px;

}
.image_basket {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.orange_background {
    background: #FF9846;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    color: #e9e9e9;
}
 .grey_text {
     color: #A4ACAD;
     padding-bottom: 5%;
     font-size: 18px;
 }

 footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;


     font-family: "Open Sans";
     font-size: 18px;
     color: #A4ACAD;
     margin: 5% 10% 0 10%;
     border: 1px solid black;
 }

 .social_media {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 header {
     display: grid;
     grid-template-columns: 2fr 4fr 2fr 1fr;

     font-size: 18px;
 }

